<launch>

<!--  This launch files is
      - creating a 2D Map
      - Integerating Movebase Node into Drone
      - Flying the drone
-->

  <arg name="robot_name"  default="drone"/>
  <param name="$(arg robot_name)/mapping/odom_frame" value="world"/>


  <group ns="$(arg robot_name)">
  <node pkg="gmapping" type="slam_gmapping" name="mapping" >
    <param name="base_frame" value="$(arg robot_name)/base_footprint"/>
    <remap from="map_frame"  to="drone_1/map"/>
  </node>

    </group>

</launch>



